@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To use my Square-Root Checker Click on the Button</p>
    <a asp-controller="Home" asp-action="Calculator" class="btn btn-lg btn-info">Click Here</a>
</div>
